################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Practice/.vs/
*.suo
*.user
bin
obj
packages